[submodule "fantomas"]
	path = fantomas
	url = https://github.com/fsprojects/fantomas.git
	branch = master
[submodule "fsharp-highlighting"]
	path = config/highlighting
	url = https://github.com/deviousasti/fsharp-highlighting.git
